.appBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }

.brandText {
  margin: 0;
  font-size: 24px;
  color: var(--app-large-text-color);
}

.icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}