.chatContainer {
  border: 2px white solid;
  height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 50px 100px 50px 100px ;
}

.chatInputContainer {
  display: flex;
  justify-content: space-between;
  border: 2px white solid;
  border-radius: 40px;
  height: 40px;
  padding: 7px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px white solid;
  padding: 9px;
  border-radius: 100%;
}