.messageInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--app-box-color-light);
  border-radius: 40px;
  padding: 10px;
}

.messageInput {
  background-color: transparent;
  border: none;
  width: 100%;
  color: var(--app-large-text-color);
  font-size: medium;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--app-box-color-dark);
  padding: 9px;
  border: none;
  border-radius: 100%;
}