.categoriesContainer {
    display: flex;
    padding: 0 80px 0 80px;
    justify-content: space-around;
    margin-bottom: 50px;
}

.categoryButton {
    padding: 20px;
    border: none;
    font-size: x-large;
}

.skillsContainer {
    padding-left: 80px;
}

.skillContainer {
    display: inline-block;
    padding: 30px;
    width: 200px;
}

.skillText {
    font-size: x-large;
}