.categoriesContainer {
    display: flex;
    padding: 0 80px 0 80px;
    justify-content: space-around;
    margin-bottom: 50px;
}

.categoryButton {
    padding: 5px;
    border: none;
    font-size: x-large;
    cursor: pointer;
}

.skillsContainer {
    padding-left: 80px;
}

.skillContainer {
    display: inline-block;
    padding: 30px;
    width: 200px;
} 

.skillText {
    color: var(--app-large-text-color);
    font-size: x-large;
    animation: fadeIn 0.1s;
}