.experienceContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
}

.experienceTitle {
  color: #2f4f4f;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
}

.experienceDescription {
  color: #696969;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  margin-bottom: 10px;
}

.experienceDateRange {
  color: #696969;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}