.experienceIconContainer {
  display: flex;
  padding: 12px;
  border-radius: 100%;
  background-color: var(--app-large-text-color);
}

.experienceIcon {
  fill: var(--app-large-text-color);
  width: 22px;
}