.timelineContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px 0 32px;
  }

  .timelineRow {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .experienceContainer {
    width: 50%;
  }

  .blankContainer {
    width: 50%;
  }