.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.dateRange {
  font-size: large;
  color: var(--app-small-text-color);
}

.role {
  font-size: x-large;
  color: var(--app-large-text-color);
  margin-top: 1rem;
}

.company {
  margin-top: 0.6rem;
  font-size: x-large;
  color: var(--app-small-text-color);
}

.description {
  font-size: large;
  color: var(--app-small-text-color);
  margin-top: 1rem;
}