.container {
  margin-top: 1rem;
}

.skill {
  color: rgb(94 234 212);
  display: inline-block;
  font-size: large;;
  margin: 0 1rem 0.5rem 0;
  background-color: rgba(45,212,191,.1);
  padding: 0.3rem 1rem;
  border-radius: 2rem;
}

