.sectionContainer {
  margin-bottom: 150px;
  padding: 0 60px 0 60px;
}

.sectionHeader {
    color: var(--app-large-text-color);
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 100px;
  }