.sectionContainer {
  color: #2f4f4f;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 150px;
  padding: 0 32px 0 32px;
}

.sectionHeader {
    color: #2f4f4f;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 100px;
  }