.app {
    background-color: var(--app-background-color);
    transition: background-color 0.25s ease-in-out;
    padding-bottom: 100px;
}

p, h1, h2, h3, h4, h5, h6, span {
    color: var(--app-text-color)
  }