/* .app {
    background-color: var(--app-background-color);
    transition: background-color 0.25s ease-in-out;
} */

.appBody {
    display: flex;
    justify-content: flex-end;
    max-width: 65rem;
    gap: 1rem;
    margin: auto;
    padding: 0 6rem 0 6rem;
}

.appLeft {
    padding: 6rem 0 6rem 0;
    width: 50%;
    max-height: 50vh;
    top: 0;
    position: sticky;
}

.appRight {
    margin-top: 6rem;
    width: 50%;
}